/* ------------------------------------------------------------------ */
/*HOME SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .home-bg .text-box{
    width: 100% !important;
    margin:40px 0 40px 15px !important;
  }

  .heading{
    margin-top: 50px !important;
  }

  .our-story .headline{
    text-align: center !important;
    width: 100% !important;
  }

  .our-story .headline .background-text{
    text-align: center !important;
    width: 100% !important;
  }

  .our-story .text-box{
    width:100% !important;
    margin:0 !important;
  }

  .our-story .img img{
    width:100% !important;
  }

  .popular .popular-grid{
    margin: 25px 0 0 0px !important;
  }

  .popular .destination .img img{
    width: 100%!important;
    height: 70vh !important;
  }

  .popular .destination{
    margin-right: 0 !important;
  }

  .recent-trips .recent-trips-grid{
    margin: 25px 0 0 0px !important;
  }

  .recent-trips .card .card-img-top{
    width: 90vw !important;
    height: 70vh !important;
  }

  .recent-trips .trip{
    margin-top: 75px !important;
  }

  .journey .journey-grid .journey-price-bg{
    height: 80vh !important;
    margin-bottom: 50px !important;
  }

  .journey .journey-grid .journey-price-bg .img {
    height: 80vh !important;
    width: 100% !important;
  }

  .journey .journey-grid .journey-price-bg img {
    height: 80vh !important;
    width: 100%!important;
  }

  .journey .img .price h3{
    font-size: 24px !important;
  }

  .journey .img .price a{
    padding: 5px 15px !important;
    font-size: 16px !important;
  }

}

@media screen and (max-width:992px){
  .home-bg .text-box{
    width: 70% !important;
    margin: 80px 0 80px 30px !important;
  }

  .heading{
    margin-top: 75px !important;
  }

  .our-story .headline{
    text-align: center !important;
    width: 100% !important;
  }

  .our-story .headline .background-text{
    text-align: center !important;
    width: 100% !important;
  }

  .our-story .text-box{
    width:100% !important;
    margin:0 !important;
  }

  .our-story .img img{
    width:100% !important;
  }

  .popular .popular-grid{
    margin: 25px 0 0 0px !important;
  }

  .popular .destination .img img{
    width: 100%!important;
    height: 70vh !important;
  }

  .popular .destination{
    margin-right: 0 !important;
  }

  .recent-trips .recent-trips-grid{
    margin: 0 !important;
  }

  .recent-trips .card .card-img-top{
    width: 100%!important;
    height: 70vh !important;
  }

  .recent-trips .trip{
    margin-bottom: 0px !important;
    margin-top: 50px !important;
  }

  .journey .journey-grid .journey-price-bg{
    height: 80vh !important;
    margin-bottom: 50px !important;
  }

  .journey .journey-grid .journey-price-bg .img {
    height: 80vh !important;
    width: 100% !important;
  }

  .journey .journey-grid .journey-price-bg img {
    height: 80vh !important;
    width: 100%!important;
  }

  .journey .img .price h3{
    font-size: 24px !important;
  }

  .journey .img .price a{
    padding: 5px 15px !important;
    font-size: 16px !important;
  }

}

@media screen and (min-width:992px) and (max-width:1046px){
  .popular .popular-grid{
    margin: 25px 0 0 0px !important;
  }

  .popular .destination .img img{
    width: 95vw !important;
    height: 70vh !important;
  }

  .popular .destination{
    margin-right: 250px !important;
  }

}

@media screen and (min-width:992px) and (max-width:1200px){
  .home-bg .text-box{
    width: 75% !important;
    margin: 120px 0 120px 45px !important;
  }

  .our-story .headline{
    text-align: center !important;
    width: 100% !important;
  }

  .our-story .headline .background-text{
    text-align: center !important;
    width: 100% !important;
  }

  .our-story .text-box{
    width:100% !important;
    margin:0 !important;
  }

  .our-story .img img{
    width:100% !important;
  }

  .heading{
    margin-top: 75px !important;
  }

  .recent-trips .card .card-img-top{
    width:23vw !important;
    height:42vh !important;
  }

  .recent-trips .recent-trips-grid{
    margin: 0 0 0 100px !important;
  }

  .recent-trips .trip{
    margin-bottom: 0px !important;
    margin-top: 50px !important;
  }

  .journey .journey-grid .journey-price-bg{
    height: 80vh !important;
    margin-bottom: 50px !important;
  }

  .journey .journey-grid .journey-price-bg .img {
    height: 80vh !important;
    width: 100% !important;
  }

  .journey .journey-grid .journey-price-bg img {
    height: 80vh !important;
    width: 100%!important;
  }

  .journey .img .price h3{
    font-size: 24px !important;
  }

  .journey .img .price a{
    padding: 5px 15px !important;
    font-size: 16px !important;
  }


}

/* ------------------------------------------------------------------ */
/*ABOUT SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .about-bg{
    height: 100% !important;
  }

  .about-bg .text-box{
    margin: 200px 0 !important;
  }

  .about-bg .text-box h2{
    font-size: 72px !important;
    top: 45% !important;
    width: 100% !important;
  }

  .about-bg .text-box p{
    font-size: 20px !important;
    top: 65% !important;
  }

  .our-mission .text-box{
    padding: 0 !important;
    margin-top: 75px !important;
  }

  .our-mission .text-box .headline{
    text-align: center !important;
  }

  .our-mission .text-box .headline .background-text{
    text-align: center !important;
    width: 100% !important;
  }

  .join-us-bg{
    height: 400px !important;
  }

  .join-us-bg .text-box h2{
    font-size: 44px !important;
    top: 40% !important;
  }

  .join-us-bg .text-box p{
    font-size: 16px;
    top: 55% !important;
  }

  .join-us-bg .text-box a{
    padding: 8px 16px !important;
    top: 70% !important;
  }

  .our-team .card .card-img-top{
    width: 100% !important;
    height: 300px!important;
  }

}

@media screen and (max-width:992px){
  .about-bg{
    height: 100% !important;
  }

  .about-bg .text-box{
    margin: 200px 0 !important;
  }

  .about-bg .text-box h2{
    font-size: 72px !important;
    top: 45% !important;
    width: 100% !important;
  }

  .about-bg .text-box p{
    font-size: 20px !important;
    top: 65% !important;
  }

  .join-us-bg{
    height: 500px !important;
  }

  .join-us-bg .text-box h2{
    font-size: 44px !important;
    top: 40% !important;
  }

  .join-us-bg .text-box p{
    font-size: 16px;
    top: 50% !important;
  }

  .join-us-bg .text-box a{
    padding: 8px 16px !important;
    top: 65% !important;
  }

  .our-team .card .card-img-top{
    width: 100% !important;
    height: 400px !important;
  }

  .our-team .card .card-title{
    margin-top: 10px !important;
  }

  .our-team .card .card-body p{
    margin-top: 10px !important;
    margin-bottom: 50px !important;
  }

}

@media screen and (min-width:992px) and (max-width:1200px){
  .about-bg{
    height: 100% !important;
  }

  .about-bg .text-box{
    margin: 250px 0 !important;
  }

  .about-bg .text-box h2{
    font-size: 72px !important;
    top: 50% !important;
    width: 100% !important;
  }

  .about-bg .text-box p{
    font-size: 20px !important;
    top: 60% !important;
  }

  .join-us-bg{
    height: 500px !important;
  }

  .join-us-bg .text-box h2{
    font-size: 44px !important;
    top: 40% !important;
  }

  .join-us-bg .text-box p{
    font-size: 16px;
    top: 53% !important;
  }

  .join-us-bg .text-box a{
    padding: 8px 16px !important;
    top: 65% !important;
  }

  .our-team .card .card-img-top{
    width: 100% !important;
    height:45vh !important;
  }

  .our-team .card .card-title{
    margin-top: 10px !important;
  }

  .our-team .card .card-body p{
    margin-top: 10px !important;
    margin-bottom: 50px !important;
  }
}

/* ------------------------------------------------------------------ */
/*TRIPS SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .trips-bg{
    height: 100% !important;
  }

  .trips-bg .text-box{
    margin: 200px 0 !important;
  }

  .trips-bg .text-box h2{
    top: 45% !important;
  }

  .trips-bg .text-box p{
    top: 65% !important;
  }

  .calculate{
    height: 80vh !important;
    display: inline-block !important;
    padding: 30px !important;
  }

  .calculate h4{
    width: 100% !important;
    padding-bottom: 10px !important;
  }

  .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 10px !important;
  }

  .calculate a{
    padding: 5px 20px;
  }

  .book-now .text-box {
    width: 90% !important;
    margin:0 0 50px 25px !important;
  }

  .book-now .headline h5{
    margin:0 0 10px 25px !important;
  }

  .book-now .card .card-img-top{
    height:60vh !important;
  }

  .book-now .more-places a{
    padding: 10px 20px !important;
  }
}

@media screen and (max-width:992px){
  .trips-bg{
    height: 100% !important;
  }

  .trips-bg .text-box{
    margin: 250px 0 !important;
  }

  .trips-bg .text-box h2{
    top: 50% !important;
  }

  .trips-bg .text-box p{
    top: 65% !important;
  }

  .calculate{
    height: 45vh !important;
    display: inline-block !important;
    padding: 30px !important;
  }

  .calculate h4{
    width: 100% !important;
    padding-bottom: 10px !important;
  }

  .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 10px !important;
  }

  .calculate a{
    padding: 5px 20px !important;
  }

  .book-now .text-box {
    width: 90% !important;
    margin:0 0 50px 25px !important;
  }

  .book-now .headline h5{
    margin:0 0 10px 25px !important;
  }

  .book-now .card .card-img-top{
    height:60vh !important;
  }

  .book-now .more-places a{
    padding: 10px 20px !important;
  }
}

@media screen and (min-width:993px) and (max-width:1200px){
  .trips-bg{
    height: 100% !important;
  }

  .trips-bg .text-box{
    margin: 225px 0 !important;
  }

  .trips-bg .text-box h2{
    top: 45% !important;
  }

  .trips-bg .text-box p{
    top: 60% !important;
  }

  .calculate{
    height: 21vh !important;
    padding: 30px !important;
  }

  .calculate h4{
    width: 100% !important;
  }

  .calculate .input-text{
    width: 175px !important;
  }

  .calculate .input-date{
    width: 175px !important;
  }

  .calculate .input-select{
    width: 175px !important;
  }

  .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 5px !important;
  }

  .calculate a{
    padding: 5px 20px !important;
  }

}


/* ------------------------------------------------------------------ */
/*CONTACTS SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .contact-bg{
    height: 90vh !important;
  }

  .contact-bg .text-box h2{
    top: 50% !important;
    width: 100% !important;
  }

  .contact-bg .text-box p{
    top: 60% !important;
    width: 100% !important;
  }

}

@media screen and (min-width:769px) and (max-width:992px){
  .contact-bg{
    height: 100% !important;
  }

  .contact-bg .text-box{
    margin: 275px 0 !important;
  }

  .contact-bg .text-box h2{
    top: 50% !important;
    width: 100% !important;
  }

  .contact-bg .text-box p{
    top: 62% !important;
    width: 90% !important;
  }

  .get-in-touch .info .icon-container{
  }
}

@media screen and (min-width:993px) and (max-width:1200px){
  .contact-bg{
    height: 100% !important;
  }

  .contact-bg .text-box{
    margin: 275px 0 !important;
  }

  .contact-bg .text-box h2{
    top: 50% !important;
    width: 100% !important;
  }

  .contact-bg .text-box p{
    top: 62% !important;
    width: 90% !important;
  }

  .get-in-touch{
    padding: 0 50px !important;
  }
}

/* ------------------------------------------------------------------ */
/*THINGS TO DO SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .things-to-do-bg .text-box h2{
    top: 50% !important;
  }

  .things-to-do-bg .text-box p{
    top: 65% !important;
  }

  .tabs .nav-tabs .nav-item{
    width:100% !important;
    text-align: center !important;
  }

  .tabs .tab-content .popular-slider img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .popular-slider .img .description{
    top: 20vh !important;
  }

  .tabs .tab-content .ways-to-tour img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs  .top-attractions .card .card-img-top{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .top-attractions .card .card-body .author img{
    height:10vh !important;
    width:6vw !important;
  }

  .tabs .tab-content .call-tours img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .multi-day-tours img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .shore-excursions img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .popular-places img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .popular-places .img .description{
    top: 20vh !important;
  }

}

@media screen and (min-width:769px) and (max-width:992px){
  .tabs .nav-tabs .nav-item{
    width:100%;
    text-align: center;
  }

  .things-to-do-bg .text-box h2{
    top: 50% !important;
  }

  .things-to-do-bg .text-box p{
    top: 65% !important;
  }

  .tabs .tab-content .popular-slider img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .popular-slider .img .description{
    top: 20vh !important;
  }

  .tabs .tab-content .ways-to-tour img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs  .top-attractions .card .card-img-top{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .top-attractions .carousel .carousel-indicators{
    top:73vh !important;
    height: 20px !important;
  }

  .tabs .top-attractions .card .card-body .author img{
    height:10vh !important;
    width:6vw !important;
  }

  .tabs .tab-content .call-tours img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .multi-day-tours img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .shore-excursions img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .popular-places img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .popular-places .img .description{
    top: 20vh !important;
  }

}


@media screen and (min-width:993px) and (max-width:1200px){

  .things-to-do-bg .text-box h2{
    top: 50% !important;
  }

  .things-to-do-bg .text-box p{
    top: 65% !important;
  }

  .tabs .tab-content .popular-slider img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .popular-slider .img .description{
    top: 20vh !important;
  }

  .tabs .tab-content .ways-to-tour img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs  .top-attractions .card .card-img-top{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .top-attractions .carousel .carousel-indicators{
    top:73vh !important;
    height: 20px !important;
  }

  .tabs .top-attractions .card .card-body .author img{
    height:10vh !important;
    width:6vw !important;
  }

  .tabs .tab-content .call-tours img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .multi-day-tours img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .shore-excursions img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .popular-places img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .popular-places .img .description{
    top: 20vh !important;
  }

}

/* ------------------------------------------------------------------ */
/*LANDING PAGE SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .landing-page{
    height: 400px !important;
  }

  .landing-page .text-box{
    top: 35% !important;
  }

  .landing-page .text-box h1{
    font-size: 64px !important;
    width: 100% !important;
  }

  .landing-page .text-box h4{
    width: 100% !important;
    font-size: 24px !important;
    margin: 10px 0 30px 0 !important;
  }

  .landing-page .text-box a{
    padding: 8px 16px !important;
    font-size: 18px !important;
  }
}


@media screen and (min-width:769px) and (max-width:992px){
  .landing-page{
    height: 400px !important;
  }

  .landing-page .text-box{
    top: 35% !important;
  }

  .landing-page .text-box h1{
    font-size: 64px !important;
    width: 100% !important;
  }

  .landing-page .text-box h4{
    width: 100% !important;
    font-size: 24px !important;
    margin: 10px 0 30px 0 !important;
  }

  .landing-page .text-box a{
    padding: 8px 16px !important;
    font-size: 18px !important;
  }
}

@media screen and (min-width:993px) and (max-width:1200px){
  .landing-page{
    height: 80vh !important;
  }

  .landing-page .text-box{
    top: 35% !important;
  }

  .landing-page .text-box h1{
    font-size: 64px !important;
    width: 100% !important;
  }

  .landing-page .text-box h4{
    width: 100% !important;
    font-size: 24px !important;
    margin: 10px 0 30px 0 !important;
  }

  .landing-page .text-box a{
    padding: 8px 16px !important;
    font-size: 18px !important;
  }

  .main .calculate{
    height: 21vh !important;
    padding: 30px !important;
  }

  .main .calculate h4{
    width: 100% !important;
  }

  .main .calculate .input-text{
    width: 175px !important;
  }

  .main .calculate .input-date{
    width: 175px !important;
  }

  .main .calculate .input-select{
    width: 175px !important;
  }

  .main .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 5px !important;
  }

  .main .calculate a{
    padding: 5px 20px !important;
  }

}

/* ------------------------------------------------------------------ */
/*NAVBAR & FOOTER SECTION
/* ------------------------------------------------------------------ */

@media screen and (max-width:768px){
  .navbar .form .search{
    height: 15vh !important;
    width: 15vw !important;
  }

  .navbar .navbar-collapse .navbar-link{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar .form{
    width: 450px !important;
    float: right !important;
  }

  .footer .footer-social {
    width: 100% !important;
    text-align: center !important;
    display: inline-block !important;
  }

  .footer .footer-social .icon{
    margin:30px 10px 30px 10px !important;
  }

  .footer ul .formNewsletter {
    text-align: center !important;
    width: 100% !important;
  }

  .footer ul .description{
    width: 100% !important;
    text-align: center !important;
  }

  .footer .details {
    text-align: center !important;
    margin-bottom: 30px !important;
  }

  .footer .company {
    text-align: center !important;
    margin-bottom: 30px !important;
  }

  .footer .popular-destinations {
    text-align: center !important;
    margin-bottom: 30px!important;
  }

  .footer .newsletter {
    text-align: center !important;
    margin-bottom: 30px!important;
  }

  .footer .newsletter .formNewsletter{
    margin-top: 30px !important;
  }

  .footer .title{
    margin-bottom: 10px !important;
  }
}

@media screen and (min-width:769px) and (max-width:992px){
  .navbar .form .search{
    height: 10vh !important;
    width: 10vw !important;
  }

  .navbar .navbar-link{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar .form{
    width: 450px !important;
    float: right !important;
  }

  .footer ul .description{
    width: 60% !important;
  }

}

@media screen and (min-width:992px) and (max-width:1200px){
  .navbar .form .search{
    height: 50px !important;
    width: 50px !important;
  }

  .navbar .navbar-link{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar .form{
    width: 450px !important;
    float: right !important;
  }

  .footer ul .description{
    width: 60vw !important;
  }

  .footer .newsletter input{
    width: 30vw !important;
  }

  .newsletter .formNewsletter .send{
    background-color: #efba6c !important;
    border-color: #efba6c !important;
    box-shadow: none !important;
    color: #000 !important;
  }
}
