@media screen and (max-width:768px){
  .contact-bg{
    height: 90vh !important;
  }

  .contact-bg .text-box h2{
    top: 40% !important;
    width: 100% !important;
  }

  .contact-bg .text-box p{
    top: 65% !important;
    width: 100% !important;
  }

  .get-in-touch .info .icon-container{
  }
}

@media screen and (max-width:992px){
  .contact-bg{
    height: 100% !important;
  }

  .contact-bg .text-box{
    margin: 275px 0 !important;
  }

  .contact-bg .text-box h2{
    top: 50% !important;
    width: 100% !important;
  }

  .contact-bg .text-box p{
    top: 62% !important;
    width: 90% !important;
  }

  .get-in-touch .info .icon-container{
  }
}

@media screen and (max-width:1200px){
  .contact-bg{
    height: 100% !important;
  }

  .contact-bg .text-box{
    margin: 275px 0 !important;
  }

  .contact-bg .text-box h2{
    top: 50% !important;
    width: 100% !important;
  }

  .contact-bg .text-box p{
    top: 62% !important;
    width: 90% !important;
  }

  .get-in-touch{
    padding: 0 50px !important;
  }
}

.contact-bg{
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-bg .text-box{
  text-align: center;
  vertical-align: middle;
  width:100vw;
}

.contact-bg .text-box h2{
  color: #fff;
  font-size: 72px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact-bg .text-box p{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.get-in-touch a{
  padding: 15px 30px;
  background-color: #00E5E8;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  color: #eee;
  text-decoration: none;
}

.get-in-touch .form{
  margin-top: 10px;
}

.get-in-touch .form-row{
  margin-bottom: 40px;
}

.get-in-touch .info{
  font-family: 'Rubik', sans-serif;
  margin-top: 10px;
  font-weight: 600;
}

.get-in-touch .info p{
  font-weight: 400;
  color: #b1b1af;
}

.get-in-touch .info .icon{
  float: right;
}

.get-in-touch .info ul{
  list-style: none;
}
