@media screen and (max-width:768px){
  .things-to-do-bg .text-box h2{
    top: 50% !important;
  }

  .things-to-do-bg .text-box p{
    top: 65% !important;
  }

  .tabs .nav-tabs .nav-item{
    width:100% !important;
    text-align: center !important;
  }

  .tabs .tab-content .popular-slider img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .popular-slider .img .description{
    top: 20vh !important;
  }

  .tabs .tab-content .ways-to-tour img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs  .top-attractions .card .card-img-top{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .top-attractions .card .card-body .author img{
    height:10vh !important;
    width:6vw !important;
  }

  .tabs .tab-content .call-tours img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .multi-day-tours img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .shore-excursions img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .popular-places img{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .tab-content .popular-places .img .description{
    top: 20vh !important;
  }

}

@media screen and (max-width:992px){
  .tabs .nav-tabs .nav-item{
    width:100%;
    text-align: center;
  }

  .things-to-do-bg .text-box h2{
    top: 50% !important;
  }

  .things-to-do-bg .text-box p{
    top: 65% !important;
  }

  .tabs .tab-content .popular-slider img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .popular-slider .img .description{
    top: 20vh !important;
  }

  .tabs .tab-content .ways-to-tour img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs  .top-attractions .card .card-img-top{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .top-attractions .carousel .carousel-indicators{
    top:73vh !important;
    height: 20px !important;
  }

  .tabs .top-attractions .card .card-body .author img{
    height:10vh !important;
    width:6vw !important;
  }

  .tabs .tab-content .call-tours img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .multi-day-tours img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .shore-excursions img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .popular-places img{
    height: 80vh !important;
    width:90% !important;
    margin-left: 20px !important;
  }

  .tabs .tab-content .popular-places .img .description{
    top: 20vh !important;
  }

}


@media screen and (min-width:993px) and (max-width:1200px){

  .things-to-do-bg .text-box h2{
    top: 50% !important;
  }

  .things-to-do-bg .text-box p{
    top: 65% !important;
  }

  .tabs .tab-content .popular-slider img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .popular-slider .img .description{
    top: 20vh !important;
  }

  .tabs .tab-content .ways-to-tour img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs  .top-attractions .card .card-img-top{
    height: 80vh !important;
    width:100% !important;
  }

  .tabs .top-attractions .carousel .carousel-indicators{
    top:73vh !important;
    height: 20px !important;
  }

  .tabs .top-attractions .card .card-body .author img{
    height:10vh !important;
    width:6vw !important;
  }

  .tabs .tab-content .call-tours img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .multi-day-tours img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .shore-excursions img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .popular-places img{
    height: 45vh !important;
    width:95% !important;
    margin-left: 3px !important;
  }

  .tabs .tab-content .popular-places .img .description{
    top: 20vh !important;
  }

}
.things-to-do-bg{
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.things-to-do-bg .text-box{
  text-align: center;
  vertical-align: middle;
  width:100vw;
}

.things-to-do-bg .text-box h2{
  color: #fff;
  font-size: 40px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.things-to-do-bg .text-box p{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tabs {
  width:100%;
  padding: 50px 100px;
}

.tabs a{
  font-family: 'Rubik', sans-serif;
  color:#000;
}

.tabs .nav-item:hover{
  border: none !important;
}

.tabs .nav-tabs .active {
  color: #00E5E8 !important;
  border: none !important;
}

.tabs .tab-content .headline{
  margin-top: 50px;
}

.tabs .tab-content  h1{
  margin-top: 10px;
}

.tabs .tab-content .headline h4{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.tabs .tab-content .headline h6{
  font-family: 'Rubik', sans-serif;
}

.tabs .tab-content .slick-slider {
  margin-top: 20px;
}

.tabs .slick-slider .slick-prev:before,
.tabs .slick-slider .slick-next:before {
  color: #000;
}

.tabs .tab-content .popular-slider .img .description{
  position: absolute;
  top: 10vh;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tabs .tab-content .popular-slider .img .description h3{
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.tabs .tab-content .popular-slider .img {
  position: relative;
}

.tabs .tab-content .popular-slider img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .popular-slider {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .ways-to-tour .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .ways-to-tour .img {
  position: relative;
}

.tabs .tab-content .ways-to-tour img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .ways-to-tour {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .ways-to-tour .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .ways-to-tour .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .ways-to-tour .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .ways-to-tour .description .rating{
  display: flex;
  column-gap: 5px;
}

.tabs .ways-to-tour .description .rating #star{
  padding-bottom: 7px;
}


.tabs .tab-content .ways-to-tour .img .description p{
  font-size: 14px;

}

.tabs .tab-content .call-tours .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .call-tours .img {
  position: relative;
}

.tabs .tab-content .call-tours img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .call-tours {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .call-tours .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .call-tours .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .call-tours .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .call-tours .description .rating{
  display: flex;
  column-gap: 5px;
}

.tabs .call-tours .description .rating #star{
  padding-bottom: 7px;
}


.tabs .tab-content .call-tours .img .description p{
  font-size: 14px;
}

.tabs .tab-content .text-box{
  width:100%;
  text-align: center;
  margin-bottom: 30px;
}

.tabs  .top-attractions .card {
  border: none;
}

.tabs  .top-attractions .card .card-body{
  padding: 0;
  padding-top: 10px;
}

.tabs .top-attractions{
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs  .top-attractions .card img{
  height:60vh;
}

.tabs .top-attractions .carousel .carousel-indicators{
  top:55vh;
  height: 20px;
}

.tabs  .top-attractions .carousel .carousel-control-prev-icon, .tabs  .top-attractions .carousel .carousel-control-next-icon{
  display: none;
}

.tabs  .top-attractions .card .card-body .card-title{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color:#000;
}

.tabs .top-attractions .rating{
  display: flex;
  column-gap: 5px;
}

.tabs .top-attractions .rating #star{
  padding-bottom: 5px;
}

.tabs  .top-attractions .card .card-body h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color:#000;
}

.tabs .top-attractions .card .card-body p{
  font-size: 14px;
}

.tabs .top-attractions .card .card-body .author img{
  border-radius: 50%;
  height:5vh;
  width:3vw;
  margin-right:5px;
}

.tabs .top-attractions .card .card-body .author {
  margin-top:25px;
}

.tabs .top-attractions .card .card-body .author p{
  font-size:12px;
}

.tabs .top-attractions .card .card-body .author span{
  font-weight:600;
  color: #000;
}

.tabs .top-attractions .card .card-body .comment p{
  font-size:12px;
  padding:10px;
}

.tabs .tab-content .multi-day-tours .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .multi-day-tours .img {
  position: relative;
}

.tabs .tab-content .multi-day-tours img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .multi-day-tours {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .multi-day-tours .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .multi-day-tours .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .multi-day-tours .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .tab-content .shore-excursions .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .shore-excursions .img {
  position: relative;
}

.tabs .tab-content .shore-excursions img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .shore-excursions {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .shore-excursions .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .shore-excursions .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .shore-excursions .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .tab-content .popular-places .img .description{
  position: absolute;
  top: 10vh;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tabs .tab-content .popular-places .img .description h3{
  color: #fff;
  font-family: 'Rubik', sans-serif;
}

.tabs .tab-content .popular-places .img {
  position: relative;
}

.tabs .tab-content .popular-places img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .popular-places {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .nightlife .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .nightlife .img {
  position: relative;
}

.tabs .tab-content .nightlife img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .nightlife {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .nightlife .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .nightlife .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .nightlife .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .nightlife .description .rating{
  display: flex;
  column-gap: 5px;
}

.tabs .nightlife .description .rating #star{
  padding-bottom: 7px;
}


.tabs .tab-content .nightlife .img .description p{
  font-size: 14px;
}

.tabs .tab-content .safaris .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .safaris .img {
  position: relative;
}

.tabs .tab-content .safaris img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .safaris {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .safaris .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .safaris .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .safaris .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .tab-content .outdoor-activities .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .outdoor-activities .img {
  position: relative;
}

.tabs .tab-content .outdoor-activities img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .outdoor-activities {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .outdoor-activities .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .outdoor-activities .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .outdoor-activities .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .outdoor-activities .description .rating{
  display: flex;
  column-gap: 5px;
}

.tabs .outdoor-activities .description .rating #star{
  padding-bottom: 7px;
}


.tabs .tab-content .outdoor-activities .img .description p{
  font-size: 14px;
}

.tabs .tab-content .text-box{
  width:100%;
  text-align: center;
  margin-bottom: 30px;
}

.tabs .tab-content .half-day-tours .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .half-day-tours .img {
  position: relative;
}

.tabs .tab-content .half-day-tours img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .half-day-tours {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .half-day-tours .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .half-day-tours .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .half-day-tours .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}

.tabs .tab-content .full-day-tours .img .heart{
  position: absolute;
  top: 5%;
  left: 5%;
}

.tabs .tab-content .full-day-tours .img {
  position: relative;
}

.tabs .tab-content .full-day-tours img{
  height: 45vh;
  width:20vw;
}

.tabs .tab-content .full-day-tours {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e0e0 !important;
}

.tabs .tab-content .full-day-tours .img .heart a{
  color: #eee;
  background-color: #fff;
  font-family: 'Exo', sans-serif;
  padding: 10px 10px;
  border-radius: 50%;
}

.tabs .tab-content .full-day-tours .img .heart .fa-heart{
  color: #000;
}

.tabs .tab-content .full-day-tours .img .description h6{
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
}
