@media screen and (max-width:768px){
  .trips-bg{
    height: 100% !important;
  }

  .trips-bg .text-box{
    margin: 200px 0 !important;
  }

  .trips-bg .text-box h2{
    top: 45% !important;
  }

  .trips-bg .text-box p{
    top: 65% !important;
  }

  .calculate{
    height: 80vh !important;
    display: inline-block !important;
    padding: 30px !important;
  }

  .calculate h4{
    width: 100% !important;
    padding-bottom: 10px !important;
  }

  .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 10px !important;
  }

  .calculate a{
    padding: 5px 20px;
  }

  .book-now .text-box {
    width: 90% !important;
    margin:0 0 50px 25px !important;
  }

  .book-now .headline h5{
    margin:0 0 10px 25px !important;
  }

  .book-now .card .card-img-top{
    height:60vh !important;
  }

  .book-now .more-places a{
    padding: 10px 20px !important;
  }
}

@media screen and (max-width:992px){
  .trips-bg{
    height: 100% !important;
  }

  .trips-bg .text-box{
    margin: 250px 0 !important;
  }

  .trips-bg .text-box h2{
    top: 50% !important;
  }

  .trips-bg .text-box p{
    top: 65% !important;
  }

  .calculate{
    height: 45vh !important;
    display: inline-block !important;
    padding: 30px !important;
  }

  .calculate h4{
    width: 100% !important;
    padding-bottom: 10px !important;
  }

  .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 10px !important;
  }

  .calculate a{
    padding: 5px 20px !important;
  }

  .book-now .text-box {
    width: 90% !important;
    margin:0 0 50px 25px !important;
  }

  .book-now .headline h5{
    margin:0 0 10px 25px !important;
  }

  .book-now .card .card-img-top{
    height:60vh !important;
  }

  .book-now .more-places a{
    padding: 10px 20px !important;
  }
}

@media screen and (min-width:993px) and (max-width:1200px){
  .trips-bg{
    height: 100% !important;
  }

  .trips-bg .text-box{
    margin: 225px 0 !important;
  }

  .trips-bg .text-box h2{
    top: 45% !important;
  }

  .trips-bg .text-box p{
    top: 60% !important;
  }

  .calculate{
    height: 21vh !important;
    padding: 30px !important;
  }

  .calculate h4{
    width: 100% !important;
  }

  .calculate .input-text{
    width: 175px !important;
  }

  .calculate .input-date{
    width: 175px !important;
  }

  .calculate .input-select{
    width: 175px !important;
  }

  .calculate .calculate-btn{
    width: 100% !important;
    text-align: center !important;
    padding-top: 5px !important;
  }

  .calculate a{
    padding: 5px 20px !important;
  }

}

.trips-bg{
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.trips-bg .text-box{
  text-align: center;
  vertical-align: middle;
  width:100vw;
}

.trips-bg .text-box h2{
  color: #fff;
  font-size: 72px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trips-bg .text-box p{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.book-now{

}

.book-now .card{
  border: none;
}

.book-now .card .card-title{
  width: 100%;
  margin-top: 30px;
  font-family: 'Rubik', sans-serif;}

.book-now .card .card-title h5{
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}

.book-now .card .card-title h6{
  color: #b1b1af;
  font-family: 'Rubik', sans-serif;
}

.book-now .card .card-img-top{
  width:100%;
  height:42vh;
}

.book-now .card .card-body{
  padding: 0;
  margin-bottom: 50px;
  font-family: 'Rubik', sans-serif;
}

.book-now .card .card-body .card-text{
  margin-top: 30px;
}

.book-now .card .card-body .card-text div{
  padding-right: 5px;
}

.book-now .card-body .card-text .rating{
  float: left;
}

.book-now .card-body .card-text .rating #star{
  padding-bottom: 4px;
}

.book-now .card-body .card-text .review{
  float: left;
  color: #b1b1af;
}

.book-now .card-body .card-text .clock{
  float: right;
  color: #b1b1af;
}

.book-now .card-body .card-text .days{
  float: right;
  color: #b1b1af;
}

.book-now .more-places {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.book-now .more-places a{
  padding: 15px 30px;
  background-color: #ff4a52;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Exo', sans-serif;
  color: #eee;
  text-decoration: none;
}

.book-now .text-box {
  border: 1px solid #d2d2d2;
  width: 95%;
  border-radius: 5px;
  padding: 30px;
}

.book-now .headline h5{
  font-family: 'Rubik', sans-serif;
font-weight: 600;
}

.book-now .text-box .input{
  color:  #d2d2d2;
  box-shadow: none;
}

.book-now .text-box .input:focus{
  border-color:  #d2d2d2 !important;
}

.book-now .text-box .form-group .form-label {
  font-family: 'Rubik', sans-serif
}

.book-now .formButton {
  margin-top: 70px;
}

.book-now .text-box .formButton {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #ff4a52;
  font-size: 18px;
  font-family: 'Exo', sans-serif;
  color: #eee;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}
