@media screen and (max-width:768px){
  .about-bg{
    height: 100% !important;
  }

  .about-bg .text-box{
    margin: 200px 0 !important;
  }

  .about-bg .text-box h2{
    font-size: 72px !important;
    top: 45% !important;
    width: 100% !important;
  }

  .about-bg .text-box p{
    font-size: 20px !important;
    top: 65% !important;
  }

  .our-mission .text-box{
    padding: 0 !important;
    margin-top: 75px !important;
  }

  .our-mission .text-box .headline{
    text-align: center !important;
  }

  .our-mission .text-box .headline .background-text{
    text-align: center !important;
    width: 100% !important;
  }

  .join-us-bg{
    height: 400px !important;
  }

  .join-us-bg .text-box h2{
    font-size: 44px !important;
    top: 40% !important;
  }

  .join-us-bg .text-box p{
    font-size: 16px;
    top: 55% !important;
  }

  .join-us-bg .text-box a{
    padding: 8px 16px !important;
    top: 70% !important;
  }

  .our-team .card .card-img-top{
    width: 100% !important;
    height: 300px!important;
  }

}

@media screen and (max-width:992px){
  .about-bg{
    height: 100% !important;
  }

  .about-bg .text-box{
    margin: 200px 0 !important;
  }

  .about-bg .text-box h2{
    font-size: 72px !important;
    top: 45% !important;
    width: 100% !important;
  }

  .about-bg .text-box p{
    font-size: 20px !important;
    top: 65% !important;
  }

  .join-us-bg{
    height: 500px !important;
  }

  .join-us-bg .text-box h2{
    font-size: 44px !important;
    top: 40% !important;
  }

  .join-us-bg .text-box p{
    font-size: 16px;
    top: 50% !important;
  }

  .join-us-bg .text-box a{
    padding: 8px 16px !important;
    top: 65% !important;
  }

  .our-team .card .card-img-top{
    width: 100% !important;
    height: 400px !important;
  }

  .our-team .card .card-title{
    margin-top: 10px !important;
  }

  .our-team .card .card-body p{
    margin-top: 10px !important;
    margin-bottom: 50px !important;
  }

}

@media screen and (min-width:992px) and (max-width:1200px){
  .about-bg{
    height: 100% !important;
  }

  .about-bg .text-box{
    margin: 250px 0 !important;
  }

  .about-bg .text-box h2{
    font-size: 72px !important;
    top: 50% !important;
    width: 100% !important;
  }

  .about-bg .text-box p{
    font-size: 20px !important;
    top: 60% !important;
  }

  .join-us-bg{
    height: 500px !important;
  }

  .join-us-bg .text-box h2{
    font-size: 44px !important;
    top: 40% !important;
  }

  .join-us-bg .text-box p{
    font-size: 16px;
    top: 53% !important;
  }

  .join-us-bg .text-box a{
    padding: 8px 16px !important;
    top: 65% !important;
  }

  .our-team .card .card-img-top{
    width: 100% !important;
    height:45vh !important;
  }

  .our-team .card .card-title{
    margin-top: 10px !important;
  }

  .our-team .card .card-body p{
    margin-top: 10px !important;
    margin-bottom: 50px !important;
  }
}

.about-bg{
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("background.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-bg .text-box{
  text-align: center;
  vertical-align: middle;
  width:100vw;
}

.about-bg .text-box h2{
  color: #fff;
  font-size: 72px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-bg .text-box p{
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-our-story .headline h6{
  color: #efba6c;
}

.about-our-story .headline{
  position: relative;
  text-align: center;
  width:100vw;
}

.about-our-story .headline .background-text{
  font-size: 64px;
  position: absolute;
  top: -20px;
  left: 0;
  bottom: 0;
  z-index: -1;
  text-align: center;
  width:100vw;
}

.about-our-story .headline .background-text h2{
  font-size: 72px;
  letter-spacing: 3px;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

.about-our-story .about-our-story-grid{
    column-gap: 65px;
}

.about-our-story .story .text-box{
  margin-top:50px;
}

.about-our-story .img img{
  height: 60vh;
  width:100%;
  margin-top: 50px;
}

.about-our-story .counter{
  font-size: 68px;
  color: #ff4a52;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin-top: 50px;
}

.about-our-story .counter{
  font-size: 68px;
  color: #ff4a52;
  font-weight: 600;
}

.our-mission .text-box{
  padding: 75px 50px 50px 50px;
}

.our-mission .img img{
  height: 60vh;
  width:100%;
}

.our-mission .headline{
  position: relative;
  padding-bottom: 25px;
}

.our-mission .headline h6{
  color: #efba6c;
}

.our-mission .headline .background-text{
  font-size: 64px;
  position: absolute;
  top: -20px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.our-mission .headline .background-text h2{
  font-size: 72px;
  letter-spacing: 3px;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

.our-team .headline h6{
  color: #efba6c;
}

.our-team .headline{
  position: relative;
  text-align: center;
  width:100vw;
}

.our-team .headline .background-text{
  font-size: 64px;
  position: absolute;
  top: -20px;
  left: 0;
  bottom: 0;
  z-index: -1;
  width:100vw;
}

.our-team .headline .background-text h2{
  font-size: 72px;
  letter-spacing: 3px;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

.our-team .our-team-grid {
  margin-top: 50px;
}

.our-team .our-team-grid .card{
  border: none;
}

.our-team .card .card-title{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-family: 'Work Sans', sans-serif;
}

.our-team .card .card-title h5{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

.our-team .card .card-title h6{
  font-family: 'Work Sans', sans-serif;
}

.our-team .card .card-img-top{
  width:23vw;
  height:42vh;
}

.our-team .card .card-body{
  padding: 0;
  text-align: center;
}

.our-team .card .card-body p{
  margin-top: 30px;
}

.join-us-bg{
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("silhouette.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.join-us-bg .text-box{
  text-align: center;
  vertical-align: middle;
  width:100vw;
}

.join-us-bg .text-box h2{
  color: #fff;
  font-size: 48px;
  font-family: 'Nothing You Could Do', cursive;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.join-us-bg .text-box p{
  font-family: 'Work Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: lighter;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.join-us-bg .text-box a{
  background-color: #efba6c !important;
  border-color: #efba6c !important;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 30px;
  border-radius:5px;
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Work Sans', sans-serif
}
