.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  z-index: -1;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 3px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #ff4a52;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #85838b;
  font-size: 16px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 85%;
  outline: none;
}

.thumb:active .thumb:focus {
  border: 3px solid #000 ;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #fff;
  border: 3px solid #ff4a52 ;
  border-radius: 25%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb::-webkit-slider-thumb:active {
  border: 3px solid #000
}

.thumb::-webkit-slider-thumb:focus {
  border: 3px solid #000 !important ;

}

.thumb--left::-webkit-slider-thumb {
  z-index: 3;
}

.thumb--right::-webkit-slider-thumb {
  z-index: 4;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.thumb--left::-moz-range-thumb {
  z-index: 3;
}

.thumb--right::-moz-range-thumb {
  z-index: 4;
}
