@media screen and (max-width:768px){
  .navbar .form .search{
    height: 15vh !important;
    width: 15vw !important;
  }

  .navbar .navbar-collapse .navbar-link{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar .form{
    width: 450px !important;
    float: right !important;
  }

  .footer .footer-social {
    width: 100% !important;
    text-align: center !important;
    display: inline-block !important;
  }

  .footer .footer-social .icon{
    margin:30px 10px 30px 10px !important;
  }

  .footer .company {
    text-align: center !important;
    margin-bottom: 30px !important;
  }

  .footer .popular-destinations {
    text-align: center !important;
    margin-bottom: 30px!important;
  }

  .footer .newsletter {
    text-align: center !important;
    margin-bottom: 30px!important;
  }

  .footer .newsletter .formNewsletter{
    margin-top: 30px !important;
  }

  .footer .title{
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width:992px){
  .navbar .form .search{
    height: 10vh !important;
    width: 10vw !important;
  }

  .navbar .navbar-link{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar .form{
    width: 450px !important;
    float: right !important;
  }

  .footer ul .description{
    width: 60% !important;
  }

}

@media screen and (min-width:992px) and (max-width:1200px){
  .navbar .form .search{
    height: 50px !important;
    width: 50px !important;
  }

  .navbar .navbar-link{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar .form{
    width: 450px !important;
    float: right !important;
  }

  .footer ul .description{
    width: 60vw !important;
  }

  .footer .newsletter input{
    width: 30vw !important;
  }

  .newsletter .formNewsletter .send{
    background-color: #efba6c !important;
    border-color: #efba6c !important;
    box-shadow: none !important;
    color: #000 !important;
  }
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

p{
  font-size: 16px;
  color: #425263;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Abril Fatface', cursive
}

.navbar{
  height: 100%;
  width:100vw;
}

.navbar .navbar-brand{
  margin:0 25px 0 30px;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 32px;
}

.navbar .navbar-brand .icon{
  color: #ff4a52 !important;
}

.navbar .navbar-link, .navbar .navbar-dropdown a{
  color: #000 !important;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  -moz-transition: all 0,5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .navbar-link:hover, .navbar .navbar-dropdown a:hover{
  color: #00E5E8 !important;
}


.navbar .navbar-nav{
  width:100% !important;
}

.navbar .form{
  width: 50vw !important;
}

.navbar .form .search{
  height: 12vh;
  width: 6vw;
  background-color: #ff4a52 !important;
  border-color: #ff4a52 !important;
  box-shadow: none !important;
}

.navbar .form .search:hover, .navbar .form .search:active, .navbar .form .search:focus{
  background-color: #f65646 !important;
  border-color: #f65646 !important;
}

.navbar .form .contact-number{
  color: #000;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
}

.navbar .form .social-item{
  color: #aab1b7;
}

.navbar .form .icon{
  color: #ff4a52;
}

.navbar .form .twitter{
  border-left: 1px solid #aab1b7;
}

.navbar .twitter:hover{
  color: #52a7e7 !important;
  cursor: pointer;
}

.navbar .facebook:hover{
  color: #435e98 !important;
  cursor: pointer;
}

.navbar .instagram:hover{
  color: rgb(221, 42, 123) !important;
  cursor: pointer;
}

.navbar .linkedIn:hover{
  color: #0e76a8 !important;
  cursor: pointer;
}


.footer{
  background-color: #2F4858;
  width:100vw;
  height: 100%;
}

.footer ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}

.footer ul li{
  color: #d2d2d2;
  font-family: 'Lobster', cursive;
}

.footer .content{
  padding-top: 50px;
}

.footer .content .title{
  color: #e7e7e7;
}

.footer .content .title span{
  font-family: 'Indie Flower', cursive;
  font-weight: 800;
}


.footer .newsletter input{
  width:50%;
}

.footer .newsletter .formNewsletter{
  display: flex ;
  column-gap: 10px;
  margin-top: 20px;
}

.newsletter .formNewsletter .send{
  background-color: #efba6c !important;
  border-color: #efba6c !important;
  box-shadow: none !important;
  color: #000 !important;
  font-size: 16px;
  font-family: 'Exo', sans-serif;
  letter-spacing: 2px;
}

.newsletter .formNewsletter .send:hover, .newsletter .formNewsletter .send:active, .newsletter .formNewsletter .send:focus{
  background-color: #d7a761 !important;
  border-color: #d7a761 !important;
}

.footer .company li, .footer .popular-destinations li{
  margin-bottom: 10px;
}

.footer .footer-social {
  display: flex;
}

.footer .footer-social a {
  color: #d2d2d2;
}

.footer .footer-social .icon{
  margin:50px 10px 50px 10px;
}

.footer .title{
  margin-bottom: 30px;
}

.footer .twitter:hover{
  color: #52a7e7 !important;
  cursor: pointer;
}

.footer .facebook:hover{
  color: #435e98 !important;
  cursor: pointer;
}

.footer .instagram:hover{
  color: rgb(221, 42, 123) !important;
  cursor: pointer;
}

.footer .github:hover{
  color: #171515  !important;
  cursor: pointer;
}

.footer .linkedIn:hover{
  color: #0e76a8 !important;
  cursor: pointer;
}
